@(message: String)

@main("Play with Scala.js") {
<script src="@routes.Assets.versioned("javascript/jqStuff.js")"></script>
<h2>Play and Scala.js share a same message</h2>
<ul>
  <li>Play shouts out: <em>@message</em></li>
  <li>Scala.js shouts out: <em id="scalajsShoutOut"></em></li>
</ul>
<p>I'm just adding stuff into the arg passed to main.</p>

<p>Links to other routes in this site.</p>
<p><a href="@routes.TempController.welcome">Temperature</a></p>
<p><a href="@routes.WSChatController.index">Chat</a></p>
<p><a href="@routes.SalesDBController.index">Sales DB</a></p>

<table>
	@for(i <- 1 to 12) {
		<tr><td>@i</td></tr>
	}
</table>
@(if(true) "a" else "b")
}
